advent-of-code-data==2.0.1
aocd-example-parser==2023.2
astroid==3.0.1
beautifulsoup4==4.12.2
-e git+ssh://git@github.com/awsloth/adventOfCode.git@cb360f0eeb2fd8f3fc8a8c74d382b4414d83fb2b#egg=copier&subdirectory=copier
dill==0.3.7
isort==5.12.0
mccabe==0.7.0
Pebble==5.0.3
pep8==1.7.1
platformdirs==4.0.0
pylint==3.0.2
soupsieve==2.5
tomli==2.0.1
tomlkit==0.12.2
typing_extensions==4.8.0
urllib3==2.0.7
